<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'quiz_app/icon/favicon.png' %}">
</head>

<body>
    {% if name %}
    <h1>{{ name }}</h1>

    <div id="startRouletteContainer">
        <button type="button" id="startRoulette" onclick="startRoulette()">スタート</button>
    </div>
    {% else %}
    <h1>名前入力</h1>

    <!-- 名前入力フォーム -->
    <div id="nameForm">
        <form method="post" action="{% url 'input_name_expt2' %}">
            {% csrf_token %}
            {% for item in form %}
            <div class="form-group">
                <label for="{{item.id_for_label}}" class="form-label">{{item.label}}</label>
                <div class="form-input">
                    {{ item }}
                </div>
            </div>
            {% endfor %}

            <button type="submit" name="personInfo" value="personInfo">決定</button>
        </form>
    </div>
    {% endif %}

    <div id="rouletteContainer" style="display: none;">
        <p id="randomNumber"></p>
        <button type="button" id="stopRoulette" onclick="stopRoulette()">ストップ</button>
    </div>

    <div id="nextContainer" style="display: none;">
        <form method="post" action="{% url 'input_name_expt2' %}">
            {% csrf_token %}
            <button type="sumit" id="next" name="next" value="next">次へ</button>
        </form>
    </div>

    <script>
        var interval;

        function startRoulette() {
            console.log("ルーレット開始");

            const startRouletteContainer = document.getElementById("startRouletteContainer");
            startRouletteContainer.style.display = "none";

            const rouletteContainer = document.getElementById("rouletteContainer");
            rouletteContainer.style.display = "block";


            const randomNumberElement = document.getElementById("randomNumber");

            interval = setInterval(function() {
                const randomNumber = getRandomThreeDigitNumber();
                randomNumberElement.textContent = randomNumber;
            }, 100);
        }

        function getRandomThreeDigitNumber() {
            // 100から999までのランダムな整数を生成
            return Math.floor(Math.random() * 900) + 100;
        }

        function stopRoulette() {
            clearInterval(interval);

            const stopRouletteBtn = document.getElementById("stopRoulette");
            stopRouletteBtn.style.display = "none";

            const nextContainer = document.getElementById("nextContainer");
            nextContainer.style.display = "block";            
        }

    </script>
</body>