<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'quiz_app/icon/favicon.png' %}">
    
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>

    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <style>
        #playerContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 40vh; /* ビューポートの高さいっぱいに要素を広げる */
            text-align: center;
        }

        #playVideoForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>{{person_id}}</h1>

    <video id="local" playsinline autoplay muted></video>

    <div>
        <button id="cameraON">カメラオン</button>
        <button id="record" style="display: none;">録画開始</button>
        <button id="videoOFF" style="display: none;">ビデオオフ</button>
        <button id="stop" style="display: none;">録画停止</button>
        <button id="play" style="display: none;">再生</button>
        <button id="download" style="display: none;">ダウンロード</button>
    </div>

    <!-- 録画ができない場合に表示される -->
    <div id="cameraInfoContainer" style="display: none;">
        <p id="cameraInfo">カメラが非対応です</p>
    </div>

    <div id="clock"></div>

    <!-- クイズ動画再生エリア -->
    <div id="playerContainer" style="display: none;">
        <!-- <div id="player"></div> -->
    </div>

    <form method="post" action="{% url 'make_expression' person_id=person_id %}" id="playVideoForm">
        {% csrf_token %}
        <!-- 1つ目の動画再生ボタン -->
        <button type="button" id="playButton" style="display: none;" onclick="playingVideo()">開始</button>
    </form>


    <script>
        var player;

        var quiz_movie_ids;
        var quizIndex = 0;
        var currentMovieID = "";
        var person_id = "";

        const questionnaireTime = 3000; // (ms)
        const breakTime = 3000  // 問題間の休憩時間

        var isPlaying = false;

        const supportedCodecs = MediaRecorder.isTypeSupported("video/webm;codecs=vp9,opus");
        console.log("Is VP9 supported:", supportedCodecs);

        var start = (new Date()).getTime();
        var now;

        function updateClock() {
            now = (new Date()).getTime();
            const passed = now - start;


            const clockElement = document.getElementById('clock');
            clockElement.textContent = passed / 1000;
        }

        // 初回表示
        updateClock();

        // 10msごとに更新
        setInterval(updateClock, 2);

        const localVideo = document.getElementById("local");
        const cameraONBtn = document.getElementById("cameraON");
        const recordBtn = document.getElementById("record");
        const videoOFFBtn = document.getElementById("videoOFF");
        const stopBtn = document.getElementById("stop");
        const playBtn = document.getElementById("play");
        const downloadBtn = document.getElementById("download");
        let mediaRecorder;
        let recordedBlobs;

        function getLocalMediaStream(mediaStream) {
            recordBtn.style.display = "block";
            const localStream = mediaStream;
            localVideo.srcObject = mediaStream;
            window.stream = mediaStream;
        }

        function handleLocalMediaStreamError(error) {
            console.log(`navigator.getUserMedia error: ${error}`);
        }

        function handleDataAvailable(event) {
            if (event.data && event.data.size > 0) {
                recordedBlobs.push(event.data);
            }
        }

        function startRecording() {
            recordedBlobs = [];
            // const options = { mimeType: "video/webm;codecs=vp9" };

            try {
                // mediaRecorder = new MediaRecorder(window.stream, options);
                mediaRecorder = new MediaRecorder(window.stream);
            } catch (error) {
                console.log(`Exception while creating MediaRecorder: ${error}`);
                return;
            }

            // console.log("Created MediaRecorder", mediaRecorder);

            mediaRecorder.onstop = event => {
                // console.log("Recorder stopped: ", event);
            };

            mediaRecorder.ondataavailable = handleDataAvailable;
            mediaRecorder.start(5);
            start = (new Date()).getTime();
            // console.log("MediaRecorder started", mediaRecorder);
        }

        function stopRecording() {
            mediaRecorder.stop();
            const timestamp = now - start;
            // console.log("録画停止： " + timestamp);
            orderSaveData('stopRecord', [timestamp])
            // console.log("Recorded media.");
        }

        cameraONBtn.addEventListener("click", () => {
            if (supportedCodecs) {
                navigator.mediaDevices
                .getUserMedia({ video: true })
                .then(getLocalMediaStream)
                .catch(handleLocalMediaStreamError);

                cameraONBtn.style.display = "none";

                quiz_movie_ids = makeQuizMovieIDs();

                createNewPlayer(true);
            } else {
                var cameraInfoContainer = document.getElementById("cameraInfoContainer");
                if (cameraInfoContainer) {
                    cameraInfoContainer.style.display = "block";
                }
            }
        });

        recordBtn.addEventListener("click", () => {
            // console.log("録画開始ボタンが押されました");
            startRecording();
            recordBtn.style.display = "none";

            setTimeout(function() {
                videoOFFBtn.style.display = "block";
            }, 3000);
        });

        videoOFFBtn.addEventListener("click", () => {
            videoOFFBtn.style.display = "none";
            localVideo.style.display = "none";

            // 開始ボタンを表示
            var playButton = document.getElementById("playButton");
            if (playButton) {
                playButton.style.display = "block";
            }
        });

        stopBtn.addEventListener("click", () => {
            stopRecording();
            stopBtn.style.display = "none";
            downloadBtn.style.display = "block";
        });

        downloadBtn.addEventListener("click", () => {
            const blob = new Blob(recordedBlobs, { type: "video/webm" });
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.style.display = "none";
            a.href = url;
            a.download = "rec.webm";
            document.body.appendChild(a);
            a.click();
            setTimeout(() => {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 100);
        });


        // YouTube APIがロードされたときに実行されるコールバック関数
        function onYouTubeIframeAPIReady() {
            // player オブジェクトを生成
            console.log("YouTube APIが初期化されました。")

            // 現在のURLを取得
            var currentURL = window.location.href;

            // 正規表現を使用してperson_idの値を抽出
            var regex = /person_id=([^&]+)/;
            var match = currentURL.match(regex);

            // person_idの値を取得
            var personId = match && match[1];
            person_id = personId;
            // console.log("person_idの値は: " + person_id);
        }


        // 動画IDを作成
        function makeQuizMovieIDs() {
            var quiz_movie_ids = [
                '2-tDAhyJGvU',
            ];

            return quiz_movie_ids;
        }


        // 動画再生が終了したときに id=player の div 要素を削除する関数
        function removePlayer() {
            let playerContainer = document.getElementById("playerContainer");
            let playerDiv =  document.getElementById("player");
            if (playerContainer) {
                playerContainer.removeChild(playerDiv);
            }
        }

        // 新しいプレーヤーを生成する関数
        function createNewPlayer(firstLoad) {
            var playerContainer = document.getElementById("playerContainer");
            var playerDiv = document.createElement("div");
            playerDiv.id = "player";
            playerContainer.appendChild(playerDiv);

            // console.log("videoID: " + quizIndex)
            currentMovieID = quiz_movie_ids[quizIndex]
            var currentTime;

            player = new YT.Player('player', {
                videoId: currentMovieID,  // 埋め込むYouTube動画のIDを指定
                playerVars: {
                    'controls': 0,  // コントロールを非表示にする
                    'disablekb': 1,  // キーボード操作を無効にする
                    'showinfo': 0,   // タイトルとアップロード者情報を非表示にする
                    'rel': 0,        // 関連動画を非表示にする
                    'autoplay': 0,   // 自動再生を有効にする
                    'playsinline': 1  // iOSデバイスでインライン再生を有効にする
                },
                events: {
                    'onReady': function(event) {
                        if (firstLoad) {
                            console.log("プレーヤーの準備が完了しました。");
                        } else {
                            event.target.playVideo(); // 自動再生
                            // console.log("動画の再生を開始：onReady");
                        }
                    },
                    'onStateChange': function(event) {
                        if (event.data == YT.PlayerState.PLAYING) {
                            // PLAYINGだと、本当の再生開始時刻より若干遅い
                            const timestamp_0s = now - start;
                            // console.log("再生時刻: " + timestamp_0s);

                            if (!isPlaying) {
                                var interval = setInterval(function() {
                                    currentTime = event.target.getCurrentTime();
                                    if (currentTime >= 1) {
                                        const timestamp_1s = now - start;
                                        // console.log("1秒の時: " + timestamp_1s);
                                        clearInterval(interval); // タイマーを停止
                                        const currentTimeFixed = currentTime.toFixed(10);
                                        // console.log(`現在の再生時間: ${currentTimeFixed}秒`);

                                        // 動画の再生時刻の保存をサーバーに要求
                                        orderSaveData('play', [timestamp_0s, timestamp_1s, currentTimeFixed]);
                                        isPlaying = true;
                                    }
                                }, 2); // 2msごとに更新
                            }

                            // 動画クリックするごとに毎回実行される
                            // console.log("動画の再生を開始：PLAYING");

                        } else if (event.data === YT.PlayerState.PAUSED) {
                            // 動画が一時停止されたときに再度再生
                            event.target.playVideo();
                        } else if (event.data === YT.PlayerState.ENDED) {
                            // console.log("動画の再生が終了しました");

                            const timestamp = now - start;
                            // console.log("終了時刻： " + timestamp);

                            // 動画の再生終了時刻の保存をサーバーに要求
                            orderSaveData('ended', [timestamp])
                            isPlaying = false;

                            // 動画を非表示
                            removePlayer(); // id=player の div 要素を削除
                            var playerContainer = document.getElementById("playerContainer");
                            if (playerContainer) {
                                playerContainer.style.display = "none";
                            }

                            setTimeout(function() {
                                // console.log(`休憩：${breakTime / 1000}秒経過しました`);
                                // 次の動画を再生
                                playNextVideo();
                            }, 2000);
                        }
                    }
                }
            });
        }        

        // 動画を再生する関数
        function playingVideo() {
            // 再生ボタンを非表示
            var playButton = document.getElementById("playButton");
            if (playButton) {
                playButton.style.display = "none";
            }

            // 動画を表示
            var playerContainer = document.getElementById("playerContainer");
            if (playerContainer) {
                playerContainer.style.display = "block";      
            }

            player.playVideo();
        }

        function playNextVideo() {
            // webカメラの映像を表示
            localVideo.style.display = "block";
            stopBtn.style.display = "block";
        }

        function orderSaveData(action, data) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'make_expression' person_id=person_id %}", true);
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");  // JSONデータを送信することを指定

            xhr.onload = function() {
                if (xhr.status === 200) {
                    // if (action == 'play') {
                    //     console.log("再生開始時刻の保存が成功しました");
                    // } else if(action == 'ended') {
                    //     console.log("再生終了時刻の保存が成功しました");
                    // }
                }
            };
            var context;
            if (action == "play") {
                context = { 
                    action: action, 
                    person_id: person_id,
                    movie_id: currentMovieID,
                    timestamp_0s: data[0],
                    timestamp_1s: data[1],
                    current_movie_time: data[2],
                };
            } else if (action == "stopRecord") {
                context = { 
                    action: action, 
                    person_id: person_id,
                    timestamp: data[0],
                };
            } else {
                context = { 
                    action: action, 
                    quizIndex: quizIndex,
                    person_id: person_id,
                    movie_id: currentMovieID,
                    timestamp: data[0],
                };
            }
            var data = JSON.stringify(context);  // JSONデータとして識別子を送信
            xhr.send(data);
        }

       
    </script>
</body>
</html>