<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'quiz_app/icon/favicon.png' %}">

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        #playerContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-bottom: 30px;
        }

        #quizForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        #playVideoForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        #progress-container {
            width: 100%;
            background-color: #f0f0f0;
        }

        #progress-bar {
            width: 0;
            height: 30px;
            background-color: #007bff;
            text-align: center;
            line-height: 30px;
            color: white;
        }

        #clickNone {
            pointer-events: none; /* クリックを無効にする */
        }
    </style>
</head>

<body>
    <div class="container-sm">
        <div class="text-end py-2" id="clock"></div>
        <!-- <p class="text-md-center py-1">{{person_id}}</p> -->
    </div>


    <div class="text-center">
        {% if whether_answer %}
        <!-- <p>回答グループです</p> -->
        <button class="btn btn-secondary" id="cameraON-ans" onclick="cameraONAns()">カメラオン</button>
        {% else %}
        <!-- <p>回答しないグループです</p> -->
        <button class="btn btn-secondary" id="cameraON-notAns" onclick="cameraONNotAns()">カメラオン</button>
        {% endif %}
    </div>

    <div class="text-center py-5" id="videoContainer" style="position: relative;">
        <video id="local" playsinline autoplay muted style="height: 50%;"></video>
        <img id="overlay" src="{% static 'quiz_app/images/image_guide.png' %}" style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); display: none;">
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button type="button" class="btn btn-secondary" id="record" style="display: none;">録画開始</button>
        <button type="button" class="btn btn-secondary" id="videoOFF" style="display: none;">確認した</button>
        <button type="button" class="btn btn-secondary" id="stop" style="display: none;">録画停止</button>
        <button type="button" class="btn btn-secondary" id="play" style="display: none;">再生</button>
        <button type="button" class="btn btn-secondary" id="download" style="display: none;">ダウンロード</button>
    </div>

    <!-- 録画ができない場合に表示される -->
    <div class="text-center" id="cameraInfoContainer" style="display: none;">
        <p class="fs-1 text-xxl-center" id="cameraInfo">カメラが非対応です</p>
    </div>

    <!-- 問題間の休憩で情報を出す -->
    <div class="text-center" id="quizInfoContainer" style="display: none;">
        <p class="fs-1 text-xxl-center" id="quizInfo"></p>
    </div>

    <!-- クイズ動画再生エリア -->
    <div class="container" id="clickNone">
        <div id="playerContainer" style="display: none;">
            <!-- <div id="player"></div> -->
        </div>
    </div>

    <div class="text-center">
        <form method="post" action="{% url 'quiz_movie' person_id=person_id %}" id="playVideoForm">
            {% csrf_token %}
            <!-- 説明動画再生ボタン -->
            <button type="button" class="btn btn-secondary" id="explaionButton" style="display: none;" onclick="playingVideo(true, false, false)">説明動画を見る</button>
            <!-- 例題の動画再生ボタン -->
            <button type="button" class="btn btn-secondary" id="exPlayButton" style="display: none;" onclick="playingVideo(false, true, false)">例題</button>
            <!-- 1つ目の動画再生ボタン -->
            <button type="button" class="btn btn-secondary" id="playButton" style="display: none;" onclick="playingVideo(false, false, true)">開始</button>
        </form>
    </div>


    <!-- クイズの回答フォーム -->
    <div class="container-fluid text-center" id="quizForm" style="display: none;">
        <!-- <h2>クイズに回答する</h2> -->
        <form method="post" action="{% url 'quiz_movie' person_id=person_id %}">
            <label for="answer">回答：</label>
            <input type="text" id="answer" name="answer">
            <button type="button" class="btn btn-secondary" id="submitButton" onclick="sendAnswer('answer')">送信</button>
        </form>
    </div>

    <!-- アンケートフォーム -->
    <div class="container-md" id="questionnaire" style="display: none;">
        <div id="progress-container">
            <div id="progress-bar">0%</div>
        </div>

        <div class="container py-5">
            <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdJagml4y_YcnofXxFxwgn8mGsZ7I3jRXAo4j65MlSKR_uP6w/viewform?embedded=true" width="640" height="653" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe> -->
            <form method="post" action="{% url 'quiz_movie' person_id=person_id %}">
                <p class="fs-5 text-start">質問1：問題に対する感想</p>
                <!-- 質問1 -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q1" id="q1_delight" value="delight">
                    <label for="q1_delight">喜び</label> 
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q1" id="q1_boredom" value="boredom">
                    <label for="q1_boredom">退屈</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q1" id="q1_confused" value="confused">
                    <label class="form-check-label" for="q1_confused">混乱</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q1" id="q1_frustration" value="frustration">
                    <label class="form-check-label" for="q1_frustration">不満</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q1" id="q1_concentration" value="concentration">
                    <label class="form-check-label" for="q1_concentration">集中</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q1" id="q1_neutral" value="neutral">
                    <label class="form-check-label" for="q1_neutral">特に何も感じない</label>
                </div>
        
                <p></p>
                <!-- 質問2 -->
                <p class="fs-5 text-start">質問2：難易度</p>
                <!-- <label for="q2_seen_difficulty"> -->
                    <p>問題を見たとき：</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_que" id="q2_que_very_easy" value="very_easy">
                        <label class="form-check-label" for="q2_que_very_easy">非常に簡単</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_que" id="q2_que_easy" value="easy">
                        <label class="form-check-label" for="q2_que_easy">簡単</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_que" id="q2_que_normal" value="normal">
                        <label class="form-check-label" for="q2_que_normal">ふつう</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_que" id="q2_que_hard" value="hard">
                        <label class="form-check-label" for="q2_que_hard">難しい</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_que" id="q2_que_very_hard" value="very_hard">
                        <label class="form-check-label" for="q2_que_very_hard">非常に難しい</label>
                    </div>
                    
                <!-- </label> -->
                <!-- <label for="q2_seen_difficulty"> -->
                    <p></p>
                    <p>答えを見たとき：</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_ans" id="q2_ans_very_easy" value="very_easy">
                        <label class="form-check-label" for="q2_ans_very_easy">非常に簡単</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_ans" id="q2_ans_easy" value="easy">
                        <label class="form-check-label" for="q2_ans_easy">簡単</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_ans" id="q2_ans_normal" value="normal">
                        <label class="form-check-label" for="q2_ans_normal">ふつう</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_ans" id="q2_ans_hard" value="hard">
                        <label class="form-check-label" for="q2_ans_hard">難しい</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2_ans" id="q2_ans_very_hard" value="very_hard">
                        <label class="form-check-label" for="q2_ans_very_hard">非常に難しい</label>
                    </div>
                <!-- </label> -->
        
                <!-- 質問3 -->
                <p></p>
                <p class="fs-5 text-start">質問3：ヒントは役だったか？</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q3" id="q3_helpful" value="helpful">
                    <label class="form-check-label" for="q3_helpful">強くそう思う</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q3" id="q3_somewhat_helpful" value="somewhat_helpful">
                    <label class="form-check-label" for="q3_somewhat_helpful">そう思う</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q3" id="q3_neutral" value="neutral">
                    <label class="form-check-label" for="q3_neutral">どちらとも言えない</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q3" id="q3_not_helpful" value="not_helpful">
                    <label class="form-check-label" for="q3_not_helpful">そう思わない</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q3" id="q3_not_at_all_helpful" value="not_at_all_helpful">
                    <label class="form-check-label" for="q3_not_at_all_helpful">まったくそう思わない</label>
                </div>


                <!-- 質問4 -->
                <p></p>
                <p class="fs-5 text-start">質問4：見たことがある問題か？</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q4" id="q4_yes" value="yes">
                    <label class="form-check-label" for="q4_yes">はい</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q4" id="q4_no" value="no">
                    <label class="form-check-label" for="q4_no">いいえ</label>
                </div>
                
        
                <!-- 質問5 -->
                <p></p>
                <p class="fs-5 text-start">質問5：クイズ開始時を0として現在の疲労度を選択してください</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q5" id="q5_zero" value="zero">
                    <label class="form-check-label" for="q5_zero">0</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q5" id="q5_one" value="one">
                    <label class="form-check-label" for="q5_one">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q5" id="q5_two" value="two">
                    <label class="form-check-label" for="q5_two">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q5" id="q5_three" value="three">
                    <label class="form-check-label" for="q5_three">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="q5" id="q5_four" value="four">
                    <label class="form-check-label" for="q5_four">4</label>
                </div>            
            </form>
        </div>
    </div>

    <script>
        var whether_answer;

        var player;

        var quiz_movie_ids;
        var quizIndex = 0;
        var currentMovieID = "";
        var person_id = "";

        const questionnaireTime = 30000; // (ms)
        const breakTime = 8000;  // 問題間の休憩時間

        var isPlaying = false;

        const supportedCodecs = MediaRecorder.isTypeSupported("video/webm;codecs=vp9,opus");
        console.log("Is VP9 supported:", supportedCodecs);

        var start = (new Date()).getTime();
        var now;

        function updateClock() {
            now = (new Date()).getTime();
            const passed = now - start;

            const clockElement = document.getElementById('clock');
            clockElement.textContent = passed / 1000;
        }

        // 初回表示
        updateClock();

        // 2msごとに更新
        setInterval(updateClock, 2);

        const localVideo = document.getElementById("local");
        const overlayImage = document.getElementById('overlay');
        // const cameraONAnswerBtn = document.getElementById("cameraON-answer");
        // const cameraONNotAnswerBtn = document.getElementById("cameraON-notAanswer");
        const recordBtn = document.getElementById("record");
        const videoOFFBtn = document.getElementById("videoOFF");
        const stopBtn = document.getElementById("stop");
        const playBtn = document.getElementById("play");
        const downloadBtn = document.getElementById("download");
        let mediaRecorder;
        let recordedBlobs;

        function getLocalMediaStream(mediaStream) {
            recordBtn.style.display = "block";
            const localStream = mediaStream;
            localVideo.srcObject = mediaStream;
            window.stream = mediaStream;
        }

        function handleLocalMediaStreamError(error) {
            console.log(`navigator.getUserMedia error: ${error}`);
        }

        function handleDataAvailable(event) {
            if (event.data && event.data.size > 0) {
                recordedBlobs.push(event.data);
            }
        }

        function startRecording() {
            recordedBlobs = [];
            // const options = { mimeType: "video/webm;codecs=vp9" };

            try {
                // mediaRecorder = new MediaRecorder(window.stream, options);
                mediaRecorder = new MediaRecorder(window.stream);
            } catch (error) {
                console.log(`Exception while creating MediaRecorder: ${error}`);
                return;
            }

            // console.log("Created MediaRecorder", mediaRecorder);

            mediaRecorder.onstop = event => {
                // console.log("Recorder stopped: ", event);
            };

            mediaRecorder.ondataavailable = handleDataAvailable;
            mediaRecorder.start(5);
            start = (new Date()).getTime();
            // console.log("MediaRecorder started", mediaRecorder);

            // オーバーレイ画像を表示
            overlayImage.style.display = 'block';
            overlayImage.style.height = (localVideo.offsetHeight)*0.65 + 'px';
        }

        function stopRecording() {
            mediaRecorder.stop();
            const timestamp = now - start;
            // console.log("録画停止： " + timestamp);
            orderSaveData('stopRecord', [timestamp])
            // console.log("Recorded media.");
        }

        function cameraONAns() {
            // VP9をサポートしている場合
            if (supportedCodecs) {
                // console.log("回答グループがカメラをオンにしました");
                navigator.mediaDevices
                    .getUserMedia({ video: true })
                    .then(getLocalMediaStream)
                    .catch(handleLocalMediaStreamError);

                const cameraONAnsBtn = document.getElementById("cameraON-ans");
                cameraONAnsBtn.style.display = "none";

                whether_answer = true;

                quiz_movie_ids = makeQuizMovieIDs();
                // console.log("quiz_movie_ids: " + quiz_movie_ids);

                createNewPlayer(true);
            } else {
                var cameraInfoContainer = document.getElementById("cameraInfoContainer");
                if (cameraInfoContainer) {
                    cameraInfoContainer.style.display = "block";
                }
            }
        }

        function cameraONNotAns() {
            if (supportedCodecs) {
                // console.log("回答しないグループがカメラをオンにしました");
                navigator.mediaDevices
                    .getUserMedia({ video: true })
                    .then(getLocalMediaStream)
                    .catch(handleLocalMediaStreamError);

                const cameraONNotAnsBtn = document.getElementById("cameraON-notAns");
                cameraONNotAnsBtn.style.display = "none";

                whether_answer = false;

                quiz_movie_ids = makeQuizMovieIDs();
                // console.log("quiz_movie_ids: " + quiz_movie_ids);

                createNewPlayer(true);
            } else {
                var cameraInfoContainer = document.getElementById("cameraInfoContainer");
                if (cameraInfoContainer) {
                    cameraInfoContainer.style.display = "block";
                }
            }
        }

        recordBtn.addEventListener("click", () => {
            // console.log("録画開始ボタンが押されました");
            startRecording();
            recordBtn.style.display = "none";

            setTimeout(function() {
                videoOFFBtn.style.display = "block";
            }, 3000);
        });

        videoOFFBtn.addEventListener("click", () => {
            videoOFFBtn.style.display = "none";
            
            const videoContainer = document.getElementById("videoContainer");
            videoContainer.style.display = "none";

            // 説明動画ボタンを表示
            var explaionButton = document.getElementById("explaionButton");
            if (explaionButton) {
                explaionButton.style.display = "block";
            }
        });

        stopBtn.addEventListener("click", () => {
            stopRecording();
            stopBtn.style.display = "none";
            downloadBtn.style.display = "block";
        });

        downloadBtn.addEventListener("click", () => {
            const blob = new Blob(recordedBlobs, { type: "video/webm" });
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.style.display = "none";
            a.href = url;
            a.download = "rec.webm";
            document.body.appendChild(a);
            a.click();
            setTimeout(() => {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 100);
        });


        // YouTube APIがロードされたときに実行されるコールバック関数
        function onYouTubeIframeAPIReady() {
            // player オブジェクトを生成
            console.log("YouTube APIが初期化されました。")

            // 現在のURLを取得
            var currentURL = window.location.href;

            // 正規表現を使用してperson_idの値を抽出
            var regex = /person_id=([^&]+)/;
            var match = currentURL.match(regex);

            // person_idの値を取得
            var personId = match && match[1];
            person_id = personId;
            // console.log("person_idの値は: " + person_id);

            // quiz_movie_ids = makeQuizMovieIDs();
            // console.log("quiz_movie_ids: " + quiz_movie_ids);

            // createNewPlayer(true);
        }

        var riddleFirstIndex;
        var riddleQuizNum;
        var mysteryFirstIndex;
        var mysteryQuizNum;

        // ランダムな順番にした動画IDを生成
        function makeQuizMovieIDs() {
            var quiz_movie_ids = [];

            // 説明動画
            var explain_movie;
            if (whether_answer) {
                // 回答グループ
                // console.log("回答グループ用の説明動画を設定");
                explain_movie = 'y8r0XfgVP1I';
            } else {
                // 回答しないグループ
                // console.log("回答しないグループ用の説明動画を設定");
                explain_movie = 'hGRQWD9b-_g';
            }

            quiz_movie_ids.push(explain_movie);

            // 例題
            const quiz_movie_ex = 'O0ndCkDRq3U'
            // const quiz_movie_ex = '4t8JCicyYfc' // クイズノック
            quiz_movie_ids.push(quiz_movie_ex);

            // 本番用クイズ
            // なぞなぞ
            const quiz_movie_riddle = [
                'TciI6Tc1TYY',  // 蚊  
                '5SMpG8ISZXk',  // いくら
                '58WEOCN8i8A',  // ソフトボール
                '_KFwvKXHHuI',  // 不眠
                'F6g-N-Uqnhk',  // 森
                'inBcvzia1zY',  // 視覚
                'ELImQ7HNhAU',  // 119
                'huW4RxRPVOM',  // バトル
                // '4t8JCicyYfc',  // クイズノック
                // 'qPHSalN8k0I',  // クイズノック
                // 'Ns8-e-5Ll6c',  // クイズノック
                // '4t8JCicyYfc',  // クイズノック
                // 'qPHSalN8k0I',  // クイズノック
                // 'Ns8-e-5Ll6c',  // クイズノック
                // '4t8JCicyYfc',  // クイズノック
                // 'qPHSalN8k0I',  // クイズノック
            ];

            // 謎解き
            const quiz_movie_mystery = [
                'ONRWDhSGtik',  // アーモンド
                'amvh4SC32yU',  // 赤身
                'xAahnYqzXTs',  // いのしし
                'DdZbTdOaF9Q',  // チューイングガム
                'fBpBdTYxRTo',  // マスカット
                'IHaIgriSLoY',  // カッパ
                'NTe9s-0Nfgo',  // 太陽系
                // '4t8JCicyYfc',  // クイズノック
                // 'qPHSalN8k0I',  // クイズノック
                // 'Ns8-e-5Ll6c',  // クイズノック
                // '4t8JCicyYfc',  // クイズノック
                // 'qPHSalN8k0I',  // クイズノック
                // 'Ns8-e-5Ll6c',  // クイズノック
                // '4t8JCicyYfc',  // クイズノック
            ];

            riddleFirstIndex = quiz_movie_ids.length;
            riddleQuizNum = quiz_movie_riddle.length;

            const randoms_riddle = makeRandomArray(0, quiz_movie_riddle.length - 1);
            for (i = 0; i < randoms_riddle.length; i++) {
                quiz_movie_ids.push(quiz_movie_riddle[randoms_riddle[i]]);
            }

            mysteryFirstIndex = quiz_movie_ids.length;
            mysteryQuizNum = quiz_movie_mystery.length;

            const randoms_mystery = makeRandomArray(0, quiz_movie_mystery.length - 1);
            for (i = 0; i < randoms_mystery.length; i++) {
                quiz_movie_ids.push(quiz_movie_mystery[randoms_mystery[i]]);
            }

            // POSTリクエストを送信して動画の順番データデータをサーバーに送信
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'quiz_movie' person_id=person_id %}", true);
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");  // JSONデータを送信することを指定

            xhr.onload = function () {
                if (xhr.status === 200) {
                    // レスポンスの処理（任意）
                    // console.log("サーバーレスポンス: " + xhr.responseText);
                }
                // フォームをリセット
                var textForm = document.getElementById("answer");
                textForm.value = '';
            };

            // 動画のIDリストから説明動画のIDと例題のIDを除いたリストを生成
            // console.log("削除前： " + quiz_movie_ids);
            var copy_movie_ids = JSON.parse(JSON.stringify(quiz_movie_ids));
            copy_movie_ids.shift();
            copy_movie_ids.shift();
            // console.log("削除後： " + copy_movie_ids);

            const timestamp = now - start;

            var context = { 
                action: 'quiz_order', 
                randoms_mystery: randoms_mystery,
                randoms_riddle: randoms_riddle,
                movie_ids: copy_movie_ids, 
                person_id: person_id,
                timestamp: timestamp,
            };
            var data = JSON.stringify(context);  // JSONデータとしてアクションと回答を送信
            xhr.send(data);

            return quiz_movie_ids;
        }

        function makeRandomArray(min, max) {
            var randoms = [];
            for(i = min; i <= max; i++){
                while(true){
                    var tmp = randomInt(min, max);
                    if(!randoms.includes(tmp)){
                        randoms.push(tmp);
                        break;
                    }
                }
            }
            // console.log("randoms: " + randoms);
            return randoms;
        }

        function randomInt(min, max){
            return Math.floor( Math.random() * (max - min + 1)) + min;
        }

        // 動画再生が終了したときに id=player の div 要素を削除する関数
        function removePlayer() {
            let playerContainer = document.getElementById("playerContainer");
            let playerDiv =  document.getElementById("player");
            if (playerContainer) {
                playerContainer.removeChild(playerDiv);
            }
        }

        // 新しいプレーヤーを生成する関数
        function createNewPlayer(firstLoad) {
            var playerContainer = document.getElementById("playerContainer");
            var playerDiv = document.createElement("div");
            playerDiv.id = "player";
            playerContainer.appendChild(playerDiv);

            // console.log("videoID: " + quizIndex)
            currentMovieID = quiz_movie_ids[quizIndex]

            player = new YT.Player('player', {
                height: 504,
                width: 896,
                videoId: currentMovieID,  // 埋め込むYouTube動画のIDを指定
                playerVars: {
                    'controls': 0,  // コントロールを非表示にする
                    'disablekb': 1,  // キーボード操作を無効にする
                    'showinfo': 0,   // タイトルとアップロード者情報を非表示にする
                    'rel': 0,        // 関連動画を非表示にする
                    'autoplay': 0,   // 自動再生を有効にする
                    'playsinline': 1  // iOSデバイスでインライン再生を有効にする
                },
                events: {
                    'onReady': function(event) {
                        if (firstLoad) {
                            console.log("プレーヤーの準備が完了しました。");
                        } else {
                            if (quizIndex != 0 && whether_answer) {
                                // 回答フォームを表示
                                var quizForm = document.getElementById("quizForm");
                                if (quizForm) {
                                    quizForm.style.display = "block";
                                }
                            }
                            event.target.playVideo(); // 自動再生
                            // console.log("動画の再生を開始：onReady");
                        }
                    },
                    'onStateChange': function(event) {
                        if (event.data == YT.PlayerState.PLAYING) {
                            // PLAYINGだと、本当の再生開始時刻より若干遅い
                            const timestamp_0s = now - start;
                            // console.log("再生時刻: " + timestamp_0s);

                            if (!isPlaying) {
                                var interval = setInterval(function() {
                                    currentTime = event.target.getCurrentTime();
                                    if (currentTime >= 1) {
                                        const timestamp_1s = now - start;
                                        // console.log("1秒の時: " + timestamp_1s);
                                        clearInterval(interval); // タイマーを停止
                                        const currentTimeFixed = currentTime.toFixed(10);
                                        // console.log(`現在の再生時間: ${currentTimeFixed}秒`);

                                        // 動画の再生時刻の保存をサーバーに要求
                                        orderSaveData('play', [timestamp_0s, timestamp_1s, currentTimeFixed]);
                                        isPlaying = true;
                                    }
                                }, 2); // 2msごとに更新
                            }

                            // 動画クリックするごとに毎回実行される
                            // console.log("動画の再生を開始：PLAYING");

                        } else if (event.data === YT.PlayerState.PAUSED) {
                            // 動画が一時停止されたときに再度再生
                            event.target.playVideo();
                        } else if (event.data === YT.PlayerState.ENDED) {
                            // console.log("動画の再生が終了しました");

                            const timestamp = now - start;
                            // console.log("終了時刻： " + timestamp);

                            const endedMovieIndex = quizIndex;

                            // 動画の再生終了時刻の保存をサーバーに要求
                            orderSaveData('ended', [timestamp])
                            isPlaying = false;

                            // 動画を非表示
                            removePlayer(); // id=player の div 要素を削除
                            var playerContainer = document.getElementById("playerContainer");
                            if (playerContainer) {
                                playerContainer.style.display = "none";
                            }

                            // console.log("endedMovieIndex: " + endedMovieIndex);

                            if (endedMovieIndex == 0) {
                                // 説明動画の場合
                                setTimeout(function() {
                                    // console.log(`休憩：${breakTime / 1000}秒経過しました`);
                                    // 次の動画を再生
                                    playNextVideo();
                                }, 2000);

                            } else {
                                // クイズ動画の場合

                                // 回答フォームを非表示
                                if (whether_answer) {
                                    var quizForm = document.getElementById("quizForm");
                                    if (quizForm) {
                                        quizForm.style.display = "none";
                                    }
                                }

                                // アンケートを表示
                                resetRadioButtons();
                                var questionnaire = document.getElementById("questionnaire");
                                if (questionnaire) {
                                    questionnaire.style.display = "block";
                                }

                                // アンケートのプログレスバーを表示
                                var durationInSeconds = questionnaireTime / 1000; // 秒数を変数で指定
                                var progress = 0; // 現在の進捗（0%から100%）
                                var progressBar = document.getElementById("progress-bar");

                                var interval = setInterval(function() {
                                    progress += 1;
                                    progressBar.style.width = (progress / durationInSeconds * 100) + "%";
                                    progressBar.textContent = Math.round((progress / durationInSeconds) * 100) + "%";

                                    if (progress >= durationInSeconds) {
                                        clearInterval(interval); // タイマーを停止
                                    }
                                }, 1000); // 1秒ごとに更新

                                setTimeout(function() {
                                    // console.log(`アンケート：${questionnaireTime / 1000}秒経過しました`);
                                    // アンケートを送信
                                    const timestamp = now - start;
                                    submitForm('questionnaire', timestamp);
                                    // console.log("アンケートを送信完了");

                                    // 次のクイズの情報を表示
                                    var quizInfoContainer = document.getElementById("quizInfoContainer");
                                    quizInfoContainer.style.display = "block";

                                    var quizInfo = document.getElementById("quizInfo");

                                    if (endedMovieIndex >= riddleFirstIndex) {
                                        if (endedMovieIndex < mysteryFirstIndex - 1) {
                                            const what_quiz = endedMovieIndex - riddleFirstIndex + 2;
                                            var quizInfoStr = `次はなぞなぞ${what_quiz}問目`;
                                            quizInfoStr += `（残り${riddleQuizNum - what_quiz + 1}問）`;
                                            quizInfo.textContent = quizInfoStr;
                                        } else if (endedMovieIndex == mysteryFirstIndex - 1) {
                                            var quizInfoStr = `次は謎解きです（全${mysteryQuizNum}問）`;
                                            quizInfo.textContent = quizInfoStr;
                                        } else if (endedMovieIndex < quiz_movie_ids.length - 1) {
                                            const what_quiz = endedMovieIndex - mysteryFirstIndex + 2;
                                            var quizInfoStr = `次は謎解き${what_quiz}問目`;
                                            quizInfoStr += `（残り${mysteryQuizNum - what_quiz + 1}問）`;
                                            quizInfo.textContent = quizInfoStr;
                                        } else {
                                            // 次のクイズの情報を非表示
                                            var quizInfoContainer = document.getElementById("quizInfoContainer");
                                            quizInfoContainer.style.display = "none";
                                        }
                                    } 

                                }, questionnaireTime);

                                setTimeout(function() {
                                    // console.log(`休憩：${breakTime / 1000}秒経過しました`);
                                    // 次の動画を再生
                                    playNextVideo();

                                    // 次のクイズの情報を非表示
                                    var quizInfoContainer = document.getElementById("quizInfoContainer");
                                    quizInfoContainer.style.display = "none"

                                }, breakTime + questionnaireTime);
                            }

                            
                        }
                    }
                }
            });
        }        

        // 動画を再生する関数
        function playingVideo(explainPlay, exPlay, realPlay) {
            if (explainPlay) {
                // 説明動画ボタンを非表示
                var explaionButton = document.getElementById("explaionButton");
                if (explaionButton) {
                    explaionButton.style.display = "none";
                }
            } else if (exPlay) {
                // 例題動画の再生
                // 例題ボタンを非表示
                var exPlayButton = document.getElementById("exPlayButton");
                if (exPlayButton) {
                    exPlayButton.style.display = "none";
                }
            } else if (realPlay) {
                // 本番の動画1回目の再生
                // 再生ボタンを非表示
                var playButton = document.getElementById("playButton");
                if (playButton) {
                    playButton.style.display = "none";
                }
            }

            // 動画を表示
            var playerContainer = document.getElementById("playerContainer");
            if (playerContainer) {
                playerContainer.style.display = "block";      
            }

            if (quizIndex == 0) {
                 // 1番最初の動画の場合（ここでは説明動画）
                 player.playVideo();
            } else {
                if (player) {
                    player = null
                    createNewPlayer(false);
                }
            }
        }

        function playNextVideo() {
            const exampleIndex = 1;

            if (quizIndex == exampleIndex) {
                // 例題ボタンを表示
                var exPlayButton = document.getElementById("exPlayButton");
                if (exPlayButton) {
                    exPlayButton.style.display = "block";
                }
            } else if (quizIndex == riddleFirstIndex) {
                // 再生ボタンを表示
                var playButton = document.getElementById("playButton");
                if (playButton) {
                    playButton.style.display = "block";
                }
            } else if (quizIndex < quiz_movie_ids.length) {
                // console.log("次の動画を再生");
                playingVideo(false, false, false);
            } else {
                // 問題が全て終了した場合
                // webカメラの映像を表示
                const videoContainer = document.getElementById("videoContainer");
                videoContainer.style.display = "block";
                stopBtn.style.display = "block";
            }
        }

        function orderSaveData(action, data) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'quiz_movie' person_id=person_id %}", true);
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");  // JSONデータを送信することを指定

            xhr.onload = function() {
                if (xhr.status === 200) {
                    if (action == 'play') {
                        // console.log("再生開始時刻の保存が成功しました");
                    } else if(action == 'ended') {
                        // console.log("再生終了時刻の保存が成功しました");

                        // quizIndexの値をインクリメント
                        var responseData = JSON.parse(xhr.responseText);
                        quizIndex = responseData.quizIndex;
                        // console.log("quizIndexを更新しました");
                        // console.log("Received quizIndex: " + quizIndex);
                    }
                }
            };

            var context;
            if (action == "play") {
                context = { 
                    action: action, 
                    person_id: person_id,
                    movie_id: currentMovieID,
                    timestamp_0s: data[0],
                    timestamp_1s: data[1],
                    current_movie_time: data[2],
                };
            } else if (action == "stopRecord") {
                context = { 
                    action: action, 
                    person_id: person_id,
                    timestamp: data[0],
                };
            } else {
                context = { 
                    action: action, 
                    quizIndex: quizIndex,
                    person_id: person_id,
                    movie_id: currentMovieID,
                    timestamp: data[0],
                };
            }
            var data = JSON.stringify(context);  // JSONデータとして識別子を送信
            xhr.send(data);
        }

        function sendAnswer(action) {
            const timestamp = now - start;

            // フォームの内容を取得
            var answer = document.getElementById("answer").value;
            // POSTリクエストを送信してデータをサーバーに送信
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'quiz_movie'  person_id=person_id %}", true);
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");  // JSONデータを送信することを指定

            xhr.onload = function () {
                if (xhr.status === 200) {
                    // レスポンスの処理（任意）
                    // console.log("サーバーレスポンス: " + xhr.responseText);
                }
                // フォームをリセット
                var textForm = document.getElementById("answer");
                textForm.value = '';
            };

            context = {
                action: action,
                answer: answer,
                person_id: person_id,
                movie_id: currentMovieID,
                timestamp: timestamp,
            }

            var data = JSON.stringify(context);  // JSONデータとしてアクションと回答を送信
            xhr.send(data);
        }

        // エンターキーのデフォルト動作を無効にする
        document.getElementById("answer").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault(); // デフォルトの動作をキャンセル
            }
        });

        // フォーム送信
        function submitForm(action, timestamp) {
            // console.log("アンケートを送信");
            // アンケートの回答を取得
            var context = {
                action: action,
                q1: getRadioButtonValue("q1"),
                q2_que: getRadioButtonValue("q2_que"),
                q2_ans: getRadioButtonValue("q2_ans"),
                q3: getRadioButtonValue("q3"),
                q4: getRadioButtonValue("q4"),
                q5: getRadioButtonValue("q5"),
                person_id: person_id,
                movie_id: currentMovieID,
                timestamp: timestamp,
            };

            // POSTリクエストを送信してデータをサーバーに送信
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'quiz_movie' person_id=person_id %}", true);
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");  // JSONデータを送信することを指定

            xhr.onload = function () {
                if (xhr.status === 200) {
                    // レスポンスの処理（任意）
                    // console.log("サーバーレスポンス: " + xhr.responseText);
                }
                // フォームをリセット
                var textForm = document.getElementById("answer");
                textForm.value = '';
            };

            var data = JSON.stringify(context);  // JSONデータとしてアクションと回答を送信
            xhr.send(data);

            // プログレスバーをリセット
            var progressBar = document.getElementById("progress-bar");
            progress = 0; // 進捗をリセット
            progressBar.style.width = "0%"; // プログレスバーの幅を初期化
            progressBar.textContent = "0%";

            // アンケートを非表示
            var questionnaire = document.getElementById("questionnaire");
            questionnaire.style.display = "none";
        }

        function getRadioButtonValue(name) {
            var radioButtons = document.querySelectorAll(`input[name=${name}]`);
            var selectedValue;

            for (var i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].checked) {
                    selectedValue = radioButtons[i].value;
                    break;
                }
            }
            // console.log("選択されたラジオボタンの値: " + selectedValue);

            if (selectedValue == undefined) {
                selectedValue = "undefined";
            }

            return selectedValue;
        }

        function resetRadioButtons() {
            // Q1
            resetRadioButtonCheck("q1_delight");
            resetRadioButtonCheck("q1_boredom");
            resetRadioButtonCheck("q1_confused");
            resetRadioButtonCheck("q1_frustration");
            resetRadioButtonCheck("q1_concentration");
            resetRadioButtonCheck("q1_neutral");

            // Q2-1
            resetRadioButtonCheck("q2_que_very_easy");
            resetRadioButtonCheck("q2_que_easy");
            resetRadioButtonCheck("q2_que_normal");
            resetRadioButtonCheck("q2_que_hard");
            resetRadioButtonCheck("q2_que_very_hard");
            // Q2-2
            resetRadioButtonCheck("q2_ans_very_easy");
            resetRadioButtonCheck("q2_ans_easy");
            resetRadioButtonCheck("q2_ans_normal");
            resetRadioButtonCheck("q2_ans_hard");
            resetRadioButtonCheck("q2_ans_very_hard");
    
            // Q3
            resetRadioButtonCheck("q3_helpful");
            resetRadioButtonCheck("q3_somewhat_helpful");
            resetRadioButtonCheck("q3_neutral");
            resetRadioButtonCheck("q3_not_helpful");
            resetRadioButtonCheck("q3_not_at_all_helpful");

            // Q4
            resetRadioButtonCheck("q4_yes");
            resetRadioButtonCheck("q4_no");

            // Q5
            resetRadioButtonCheck("q5_zero");
            resetRadioButtonCheck("q5_one");
            resetRadioButtonCheck("q5_two");
            resetRadioButtonCheck("q5_three");
            resetRadioButtonCheck("q5_four");
        }

        function resetRadioButtonCheck(id) {
            const radioButton = document.getElementById(id);
            radioButton.checked = false;
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

