<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'quiz_app/icon/favicon.png' %}">
</head>

<body>
    <h1>名前入力</h1>
    <!-- 名前入力フォーム -->
    <div id="nameForm">
        <form method="post" action="{% url 'save_name_expt1' %}">
            {% csrf_token %}
            <label for="name">名前：</label>
            <input type="text" id="name" name="name">
            <button type="submit">決定</button>
        </form>
    </div>
    <script>

    </script>
</body>
</html>

